# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Evaluate arithmetical expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Plotlib
3. PyTorch
4. TensorFlow

### Data Science Tools ###

|Data Science Tools|
:------------------:
|VS Code|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [1]:
#This is a simple arithmetic expression tu multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
def mintohour(minutes):
    return (minutes/60)

mintohour(200)

3.3333333333333335

## Author ##
Sebastián Ignacio Oñate Inostroza